body {
  /*overflow-anchor: none;
  touch-action: none;*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

.lock-screen {/*stop scrolling*/
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.container {
  position: static;
  z-index: 2;
  margin: 0;
  width: 95%;
  height: 95%;
  max-width: 1200px;
  max-height: 600px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
  font-size: calc(0.8vw + 0.8vh);
}
