@media screen and (max-width: 800px) and (orientation: portrait) {

  .mobile-hide {
    display: none;
  }

  /* body {
    align-items: flex-start;
  } */

  .container {
    max-height: none;
    margin: 2.5%;
    /*display: flex;
    justify-content: flex-start;
    align-items: center;*/
  }

  .container, .container * {
    font-size: 0.95em;
  }

  .text-box {
    max-height: 50vh;
  }

  .logo {
   /* width: 50%; */
  }
